<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>虚库导入</title>
        <link type="text/css" rel="stylesheet" href="/css/common.css" />
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
        <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="/js/fclub.validate.js"></script>
		<script type="text/javascript" src="/js/jquery.form.import.js"></script>
        <script type="text/javascript">
            function doExportImageDir() {
            	var pdv = new Validate("exportFrom");
            	if (pdv.validate()) {
                	$("#exportFrom").ajaxSubmit(function(result) {
						$("input[name='save']").attr("disabled","true").attr("class","none_color");
                		if (result==='success') {
                			$("#result").html("<span style='color:green'>保存成功！</span>");
             				$("#result").show();
                		} else {
							$("#result").html("<span style='color:red'>"+result+"</span>");
							$("#result").show();
						}
                	});
            	}
            }
        </script>
    </head>
    <body>
        <div class="main">
        	<div class="title_row dark_blue ">
        		<form id="exportFrom" name="exportFrom" action="/batchImport/exportImageDir.htm" method="post">
                    <table width="100%" cellspacing="1" cellpadding="3" align="center" style="display:table;" class="config_tab">
        				<tbody>
        					<tr align="left">
        						<td align="left">导出批次：</td>
                                <td align="left">$!{batchNo}</td>
								<input type="hidden" name="batchNo" value="$!{batchNo}" />
                        	</tr>
							<tr align="left">
        						<td align="left">保存目录：</td>
                                <td align="left"><input type="text" name="savePath" style="width:300px;"/></td>
                        	</tr>
							<tr align="left">
								<td align="center" colspan="2">
									<input type="button" name="save" value=" 保存 " class="button" onclick="doExportImageDir();" />
								</td>
							</tr>
                   	 	</tbody>
                	</table>
        		</form>
            </div>
        	<div class="clear"></div>
        	<div id="result" style="display:none;"></div>
			<div id="errorMsg" style="display:none;"></div>
        	<div class="clear"></div>
        </div>
    </body>
</html>
