<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>尺寸图导入</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/MaskLayer.js"></script>
<script type="text/javascript" src="/js/jquery.form.pack.js"></script>
<script type="text/javascript" src="/js/page.js"></script>
<script type="text/javascript" src="/js/tpd/bcsImp.js"></script>
</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">尺寸图导入管理</span>
		<span class="right add_t"><a class="add" href="/bcsimp/addTo.htm" >新增导入</a></span>
	</div>
	
	<div class="clear"></div>
	
	<div id="searchPanel" class="search_row dark_blue">
		<form id="searchForm" action="/bcsimp/list/query.htm" method="post" style="margin: 0;">
			<input type="hidden" id="pageSize" name="pageSize" value="$!page.pageSize" />
			<input type="hidden" id="pageNo" name="pageNo" value="$!page.pageNo" />
			<input type="hidden" id="order" name="order" value="$!page.order" />
			<input type="hidden" id="orderBy" name="orderBy" value="$!page.orderBy" />
			
			##在此下面加搜索条件
			##商品品牌
			<div class="search_row_element">商品品牌：
				<select id="brandId" name="brandId">
                	<option value="0">请选择...</option>
                	#foreach($brand in $brandList)
                    <option value ="$brand.brandId">$brand.brandName</option>
                	#end
                </select>
			</div>
			##分类
			<div class="search_row_element">分类：
				<select id="catId" name="catId">
                	<option value="0">请选择...</option>
                	#foreach($item in $categoryList)
                		<option value ="$item.categoryId">$item.categoryName</option>
                		#foreach($info in $item.getSubCategoryList())
                			<option value ="$info.categoryId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$info.categoryName</option>
                		#end
                	 #end
                </select>
			</div>
			##性别
			<div class="search_row_element">性别：
				<select id="sex" name="sex">
                	<option value="">请选择...</option>
                	 #foreach($item in $sexMap.keySet())
                		#set($val=$sexMap.get($item))
                		<option value ="$item">$val</option>
                	 #end
                </select>
			</div>
			<input type="button" class="button" value="搜索" onclick="submitSearch();">
		</form>
	</div>
	<div class="clear"></div>
	<div id="contentPanel"></div>
</div>

#pageScript(20)

</body>
</html>
