<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加尺寸图导入</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/MaskLayer.js"></script>
<script type="text/javascript" src="/js/fclub.validate.js"></script>
<script type="text/javascript" src="/js/tpd/bcsImp.js"></script>
</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">添加尺寸图导入</span>
		<span class="right add_t"><a class="add" href="/bcsimp/list/main.htm" >返回列表</a></span>
	</div>
	<div class="clear"></div>
	<div class=" title_row dark_blue">
		<form id="processForm" action="/bcsimp/add.htm" method="post" enctype="multipart/form-data">
		<table width="100%" cellspacing="1" cellpadding="3">
			<tbody>
			<tr>
				<td class="label dark_blue">商品品牌：</td>
				<td>
					<select validate="required" id="brandId" name="brandId">
                    	<option value="">请选择...</option>
                    	#foreach($brand in $brandList)
                        <option value ="$brand.brandId">$brand.brandName</option>
                    	#end
                    </select>
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">分类：</td>
				<td>
					<select validate="required" id="catId" name="catId">
                    	<option value="">请选择...</option>
                    	#foreach($item in $categoryList)
                    		##<option value ="$item.categoryId">$item.categoryName</option>
                    		#foreach($info in $item.getSubCategoryList())
                    			<option value ="$info.categoryId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$info.categoryName</option>
                    		#end
                    	 #end
                    </select>
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">性别：</td>
				<td>
					<select validate="required" id="sex" name="sex">
                    	<option value="">请选择...</option>
                    	 #foreach($item in $sexMap.keySet())
                    		#set($val=$sexMap.get($item))
                    		<option value ="$item">$val</option>
                    	 #end
                    </select>
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">尺寸图：</td>
				<td>
					<input validate="required" type="file" id="upload_file" name="file" />
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><br>
					<input type="button" value=" 确定 " class="button" onclick="doSave();">
					<input type="reset" value=" 重置 " class="button">
				</td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>