<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加操作日志表</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/MaskLayer.js"></script>
<script type="text/javascript" src="/js/fclub.validate.js"></script>
<script type="text/javascript" src="/js/tpd/log.js"></script>
</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">添加操作日志表</span>
		<span class="right add_t"><a class="add" href="/log/list/main.htm" >返回列表</a></span>
	</div>
	<div class="clear"></div>
	<div class=" title_row dark_blue">
		<form id="processForm" action="/log/add.htm" method="post" >
		<table width="100%" cellspacing="1" cellpadding="3">
			<tbody>
			<tr>
				<td class="label dark_blue">操作模块(01-活动,02-商品)</td>
				<td>
					<input type="text" validate="required" class="inputBorder" name="logType" id="logType" />
					<span class="red_dian">*</span>
					<span id="logTypeTip" style="display:none" class="red_dian"></span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">操作类型(11-初审成功,12-初审失败,13-确认排期,14-排期驳回,15-驳回,16-作废,21-审核成功,22-审核失败)</td>
				<td>
					<input type="text" validate="required" class="inputBorder" name="logCode" id="logCode" />
					<span class="red_dian">*</span>
					<span id="logCodeTip" style="display:none" class="red_dian"></span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">操作描述</td>
				<td>
					<input type="text"  class="inputBorder" name="logDesc" id="logDesc" />
					<span id="logDescTip" style="display:none" class="red_dian"></span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue"></td>
				<td>
					<input type="text"  class="inputBorder" name="createUser" id="createUser" />
					<span id="createUserTip" style="display:none" class="red_dian"></span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue"></td>
				<td>
					<input type="text"  class="inputBorder Wdate" name="createTime" id="createTime" onfocus="WdatePicker()"/>
					<span id="createTimeTip" style="display:none" class="red_dian"></span>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><br>
					<input type="button" value=" 确定 " class="button" onclick="doSave();">
					<input type="reset" value=" 重置 " class="button">
				</td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>
