<div id="listDiv">
	<table id="dataTable" class="dataTable" width="100%" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<th width="20" style="min-width:20px;">
				</th>
				<th >商品款号</th>
				<th >卡号</th>
				<th >密码</th>
				<th >颜色名称</th>
				<th >尺寸名称</th>
				<th >是否使用</th>
				<th >关联订单</th>
				<th >操作</th>
			</tr>
			#foreach( $info in $page.result) 
			<tr>
				<td align="center">
					#if (!$!info.isUsed)
					<input type="checkbox" name="cardIds" value="$!info.cardId">
					#end
				</td>
				<td align="center"> $!info.productSn </td>
				<td align="center"> $!info.cardNo </td>
				<td align="center"> $!info.cardPwdHide </td>
				<td align="center"> $!info.colorName </td>
				<td align="center"> $!info.sizeName </td>
				<td align="center"> $!info.isUsedStr </td>
				<td align="center"> $!info.orderSn </td>
				<td align="center">
					#if (!$!info.isUsed)
					<a class="edit" href="javascript:doEdit($!info.cardId)">使用</a>
					<a class="del" href="javascript:doDelete($!info.cardId)">删除</a>
					#end
				</td>
			</tr>
			#end
			<tr>
				<td align="center">
					<input type="checkbox" name="ck_check_all" onClick="selectAll();" title="全选">
				</td>
				<td align="center" colspan="8">
					<div class="clear"></div>
    					<input type="button" value=" 批量使用 " class="button57" onclick="doBatchEdit('cardIds');" />
    					<input type="button" value=" 批量删除 " class="button57" onclick="doBatchDelete('cardIds');" />
					<div class="clear"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

#page()