<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>物流公司</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/MaskLayer.js"></script>
<script type="text/javascript" src="/js/jquery.form.pack.js"></script>
</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">物流公司</span>
	</div>
	
	<div class="clear"></div>
	
	<div id="searchPanel" >
		<form id="searchForm" action="/shipping/list/query.htm" method="post" style="margin: 0;">
			
		</form>
	</div>
	<div class="clear"></div>
	<div id="contentPanel"></div>
</div>
<script type="text/javascript">
function submitSearch() {
	TB_showMaskLayer("正在查询...");
	$("#searchForm").ajaxSubmit(function(result) {
		$("#contentPanel").html(result); 
		TB_removeMaskLayer();
	});
}
$(function() {
    submitSearch();
});
</script>
</body>
</html>
