<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>驳回</title>
        <link type="text/css" rel="stylesheet" href="/css/common.css" />
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
        <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="/js/fclub.validate.js"></script>
		<script type="text/javascript" src="/js/jquery.form.import.js"></script>
        <script type="text/javascript" src="/js/tpd/sms.js"></script>
    </head>
    <body>
        <div class="main">
        	<div class="title_row dark_blue ">  
        	<form id="updateFrom" name="updateFrom" action="/sms/reject.htm" method="post">	      						
                    <table width="100%" cellspacing="1" cellpadding="3" align="center" style="display:table;" class="config_tab">
        				<tbody>
        					<tr align="left">
        						<td align="left">驳回原因：</td>
                                <td align="left">                                    
                                    <textarea rows="2" cols="25" id="memo" name="memo"></textarea>  
                                </td>
                        	</tr>
                        	<tr align="center">
                        	<td align="center" colspan="2">
                        	<input type="button" name="save" value="确定 " class="button" onclick="doReject($!sms.smsId);" />                        	
                        	</td>
                        	</tr>
                   	 	</tbody>
                	</table>  
                	</form>      		
            </div>
        	<div class="clear"></div>
        	<div id="result" style="display:none;"></div>
			<div id="errorMsg" style="display:none;"></div>
        	<div class="clear"></div>
        </div>
    </body>
</html>
