<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加工单</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/MaskLayer.js"></script>
<script type="text/javascript" src="/js/fclub.validate.js"></script>
<script type="text/javascript" src="/js/artdialog/artDialog.js?skin=simple"></script>
<script type="text/javascript" src="/js/tpd/workOrder.js"></script>

</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">添加工单</span>
		<span class="right add_t"><a class="add" href="/workorder/list/main.htm" >返回列表</a></span>
	</div>
	<div class="clear"></div>
	<div class=" title_row dark_blue">
		<form enctype="multipart/form-data" id="processForm" action="/workorder/add.htm" method="post" >
		<input type="hidden" name="woNo" id="woNo" value="$!workorder.woNo" />
		<table width="100%" cellspacing="1" cellpadding="3">
			<tbody>
			<tr>
				<td class="label dark_blue">订单号</td>
				<td>
                    <input type="text" onblur="checkUnique('orderSn')" class="inputBorder" validate="required" id="orderSn" name="orderSn"></input>
					<span class="red_dian">*</span>
					<span id="orderSnTip" style="display:none" class="red_dian">该订单号不存在</span>
				</td>
			</tr>
			#if($!tpdHelper.isAdmin())
			<tr>
				<td class="label dark_blue">供应商</td>
				<td >
					<input type="hidden" id="providerId" name="providerId" />
					<input type="text" class="inputBorder" validate="required" id="providerCode" readonly onclick="getOrderGoods();" />
					<span class="red_dian">*</span>
				</td>
            </tr>
			#end
			<tr>
				<td class="label dark_blue">工单内容</td>
				<td>
					<textarea cols="100" rows="15" validate="required" id="content" name="content"></textarea>
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">上传附件</td>
				<td>
					<input type="file" name="file" />
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><br>
					<input type="button" value=" 保存草稿 "  class="button" onclick="doSave(0);">
					<input type="reset"  value=" 重置 "      class="button">
					#if($!tpdHelper.isAdmin())
						<input type="button" value=" 提交审核 "  class="button" onclick="doSave(3);">
					#else
						<input type="button" value=" 提交审核 "  class="button" onclick="doSave(1);">
					#end
				</td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>
