<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>编辑工单</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/MaskLayer.js"></script>
<script type="text/javascript" src="/js/fclub.validate.js"></script>
<script type="text/javascript" src="/js/tpd/workOrder.js"></script>
</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">#if($readOnly == 0) 编辑工单 #else 查看工单 #end</span>
		<span class="right add_t"><a class="add" href="/workorder/list/main.htm" >返回列表</a></span>
	</div>
	<div class="clear"></div>
	<div class=" title_row dark_blue">
		#if($readOnly == 2)
		<span class="red_dian">工单已被使用，无法编辑</span>
		#end
		<form id="processForm" enctype="multipart/form-data" action="/workorder/edit.htm" method="post" >
		<input type="hidden" id="woId" name="woId" value="$workOrder.woId"/>
		<table width="100%" cellspacing="1" cellpadding="3">
			<tbody>
			<tr>
				<td class="label dark_blue">工单号</td>
				<td>
					$!workOrder.woNo
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">订单号</td>
				<td>
				<input type="text" style="width:240px;" validate="required" onblur="checkUnique('orderSn')" class="inputBorder" value="$!workOrder.orderSn" id="orderSn" name="orderSn"></input>
				<span class="red_dian">*</span>
				<span id="orderSnTip" style="display:none" class="red_dian">该订单号不存在</span>
				</td>
            </tr>
			#if($!tpdHelper.isAdmin())
			<tr>
				<td class="label dark_blue">供应商$!workOrder.providerId</td>
				<td >
					<input type="hidden" id="providerId" name="providerId" value="$!workOrder.providerId"/>
					<input type="text" class="inputBorder" validate="required" id="providerCode" readonly onclick="getOrderGoods();" value="$!tpdHelper.getProviderCode($!workOrder.providerId)"/>
					<span class="red_dian">*</span>
				</td>
            </tr>
			#end
			<tr>
				<td class="label dark_blue">工单内容</td>
				<td>
					<textarea cols="100" rows="15" class="inputTextarea" id="content" name="content">$!workOrder.content</textarea>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">工单附件</td>
				<td >
				#if($!workOrder.woFile != '')
				<a id="a" target="_blank" href="$!workOrder.woFile"> 
						<img src="$!workOrder.woFile" width="50px" height="50px"/>
                </a>
				<input id="file" type="file" name="workImgFile" style="display:none;" />
				<a class="del" id="del" href="javascript:doDeleteImage($!workOrder.woId,1);">删除附件</a>
				#else
				<input id="file" type="file" name="workImgFile" />	
				#end
                </td>
			</tr>
			<tr>
				<td align="center" colspan="2"><br>
					#if($readOnly == 0)
					<input type="button" value=" 保存草稿 "  class="button" onclick="doSave(0);">
					<input type="reset"  value=" 重置 "      class="button">
    					#if($!tpdHelper.isAdmin())
    						<input type="button" value=" 提交审核 "  class="button" onclick="doSave(3);">
    					#else
    						<input type="button" value=" 提交审核 "  class="button" onclick="doSave(1);">
    					#end
					#end
				</td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
$(function(){ 
	if(${readOnly} != 0) {
		$("#processForm :input").filter(".inputBorder").attr("readonly","readonly");
		$("#processForm :input").filter(".inputBorder").addClass("inputBorder_readOnly");
	}
});
</script>
</body>
</html>