<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>修改密码</title>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/plugins/thickbox.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/fclub.validate.js"></script>
</head>
<body>
<div class="main">
	<div class="main_title">
		<span class="left bold main_title_top dark_blue">修改密码</span>
	</div>
	<div class="clear"></div>
	<div class=" title_row dark_blue">
		<form id="processForm" action="/rush/add.htm" method="post" >
		<table width="100%" cellspacing="1" cellpadding="3">
			<tbody>
			<tr>
				<td width="50%" class="label dark_blue">旧密码</td>
				<td width="50%">
					<input type="password" validate="required" class="inputBorder" name="oldPassword" id="oldPassword" autocomplete="off" />
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">新密码</td>
				<td>
					<input type="password" validate="required" class="inputBorder" name="newPassword" id="newPassword" />
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td class="label dark_blue">确认密码</td>
				<td>
					<input type="password" validate="required" class="inputBorder" name="newPasswordConfirm" id="newPasswordConfirm" />
					<span class="red_dian">*</span>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><br>
					<input type="button" value="提交" class="button" onclick="javascript:doUpdatePassword();">
					<input type="reset" value=" 重置" class="button">
				</td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
function doUpdatePassword() {
	var validate = new Validate('processForm');
	if (validate.validate()) {
    	var oldPassword = $('#oldPassword').val();
    	var newPassword = $('#newPassword').val();
    	var newPasswordConfirm = $('#newPasswordConfirm').val();
    	
    	if (oldPassword === newPassword) {
    		alert('新密码和老密码不能相同！');
    	} else if (newPassword.length < 8) {
			alert('新密码不能小于8位字符！');
		} else if (newPassword !== newPasswordConfirm) {
    		alert('新密码和确认密码不一致！');
    	} else {
    		jQuery.post('/password.htm', {oldPassword:oldPassword, newPassword:newPassword}, function(result) {
    			if (result != 'success') {
    				alert(result);
    			} else {
    				alert('密码修改成功，请在下次使用新密码登录！');
    			}
    			$('#oldPassword').val('');
    			$('#newPassword').val('');
    			$('#newPasswordConfirm').val('');
    		});
    	}
	}
}
</script>

</body>
</html>
